/.settings/
/.buildpath
/.project
/*.kdev4
/.metadata

/app/etc/local.xml
/app/etc/local.xml.phpunit
/var/
/media/*
*.db
*.db:e*
.idea/
mage_unit.sh
app/etc/config.xml
*.tmproj
/nbproject/
/nbproject/private/
errors/local.xml
/test*.php
robots_mobile.txt
local.xml.*
.sass-cache
social_sprite.pdn
favicon.ico
/sitemap.xml
/map
/development/phpMyAdmin
/.modman
/app/etc/local.xml.backup
/app/etc/local.xml.current
/app/etc/local.xml.new
/downloader/.cache
/downloader/cache.cfg
/downloader/connect.cfg