<?xml version="1.0"?>
<config>
    <modules>
        <Transoft_Callcenter>
            <version>1.0.2</version>
        </Transoft_Callcenter>
    </modules>
    <global>
        <resources>
            <transoft_callcenter_setup>
                <setup>
                    <module>Transoft_Callcenter</module>
                    <class>Transoft_Callcenter_Model_Resource_Setup</class>
                </setup>
            </transoft_callcenter_setup>
        </resources>
        <blocks>
            <transoft_callcenter>
                <class>Transoft_Callcenter_Block</class>
            </transoft_callcenter>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>Transoft_Callcenter_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
                    <sales_order_view>Transoft_Callcenter_Block_Adminhtml_Sales_Order_View</sales_order_view>
                    <sales_order>Transoft_Callcenter_Block_Adminhtml_Sales_Order</sales_order>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <transoft_callcenter>
                <class>Transoft_Callcenter_Helper</class>
            </transoft_callcenter>
        </helpers>
        <models>
            <transoft_callcenter>
                <class>Transoft_Callcenter_Model</class>
                <resourceModel>transoft_callcenter_resource</resourceModel>
            </transoft_callcenter>
            <transoft_callcenter_resource>
                <class>Transoft_Callcenter_Model_Resource</class>
                <entities>
                    <initiator_order>
                        <table>transoft_callcenter_initiator_order</table>
                    </initiator_order>
                </entities>
            </transoft_callcenter_resource>
        </models>
    </global>
    <adminhtml>
        <events>
            <sales_order_save_before>
                <observers>
                    <add_order_initiator>
                        <type>singleton</type>
                        <class>transoft_callcenter/adminhtml_observer</class>
                        <method>addInitiatorId</method>
                    </add_order_initiator>
                </observers>
            </sales_order_save_before>
            <sales_order_save_after>
                <observers>
                    <disabled_order_initiator>
                        <type>singleton</type>
                        <class>transoft_callcenter/adminhtml_observer</class>
                        <method>afterSaveOrder</method>
                    </disabled_order_initiator>
                </observers>
            </sales_order_save_after>
            <adminhtml_block_html_before>
                <observers>
                    <add_callcenter_type>
                        <type>model</type>
                        <class>transoft_callcenter/adminhtml_observer</class>
                        <method>addCallcenterTypeField</method>
                    </add_callcenter_type>
                </observers>
            </adminhtml_block_html_before>
        </events>
        <translate>
            <modules>
                <Transoft_Callcenter>
                    <files>
                        <default>Transoft_Callcenter.csv</default>
                    </files>
                </Transoft_Callcenter>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Transoft_Callcenter before="Mage_Adminhtml">Transoft_Callcenter_Adminhtml</Transoft_Callcenter>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <set_initiator_order_id>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>transoft_callcenter/adminhtml_observer::cronAssignmentOrderId</model>
                </run>
            </set_initiator_order_id>
        </jobs>
    </crontab>
</config>
